<!DOCTYPE html>
<html>
  <head>
    <title>Journey Through Pi</title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">
  </head>

  <body>
    <div id="game"></div>
  </body>
</html>
